---
import Link from '@/components/Link.astro'
import type { SeoData } from '@/components/SEO.astro'
import RootLayout from '@/layouts/RootLayout.astro'
import { URLS } from '@/libs/UrlLibs'

const seoData: SeoData = {
  type: 'basic',
  title: 'Not Found',
}
---

<RootLayout seoData={seoData}>
  <div
    class="flex flex-col items-start justify-start md:mt-24 md:flex-row md:items-center md:justify-center md:space-x-6"
  >
    <div class="space-x-2 pt-6 pb-8 md:space-y-5">
      <h1
        class="border-gray-200 text-6xl leading-9 font-extrabold tracking-tight text-gray-900 md:border-r-2 md:px-6 md:text-8xl md:leading-14"
      >
        404
      </h1>
    </div>
    <div class="max-w-md">
      <p class="mb-4 text-xl leading-normal font-bold md:text-2xl">
        Sorry we couldn&apos;t find this page.
      </p>
      <p class="mb-8">But dont worry, you can find plenty of other things on our homepage.</p>
      <Link
        href={URLS.HOME}
        class="inline rounded-lg border border-transparent bg-primary-600 px-4 py-2 text-sm leading-5 font-medium text-white shadow transition-colors duration-150 hover:bg-primary-400"
      >
        Back to homepage
      </Link>
    </div>
  </div>
</RootLayout>
