---
import SimplePageLayout from '@/layouts/SimplePageLayout.astro'
import componentOverrides from '@/libs/ComponentOverrides'
import Content from '@/pages/about/_content.mdx'

export const title = 'About'
---

<SimplePageLayout title={title} tagline="Yup, that's me">
  <article>
    <div class="prose max-w-none pt-10 pb-8">
      <Content components={componentOverrides} />
    </div>
  </article>
</SimplePageLayout>
