---
import { titleCase } from 'title-case'
interface Props {
  title: string
}

const { title } = Astro.props

const titleCasedTitle = titleCase(title)
---

<h1
  class="md:leading-14 text-3xl font-extrabold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-5xl"
>
  {titleCasedTitle}
</h1>
