---
import ArrowUp from '@/assets/remix-icons/arrow-up-line.svg'
---

<div id="scroll-top" class="fixed right-8 bottom-8 hidden flex-col gap-3 md:hidden">
  <button
    aria-label="Scroll To Top"
    class="rounded-full bg-gray-200 p-2 text-gray-500 transition-all hover:bg-gray-300"
  >
    <ArrowUp class="size-6" />
  </button>
</div>

<script>
  import { throttle } from '@/libs/FunctionUtils.ts'

  const el = document.getElementById('scroll-top')!
  const btn = el.querySelector('button')!

  const update = () => {
    const visible = window.scrollY > 50
    el.classList.toggle('md:hidden', !visible)
    el.classList.toggle('md:flex', visible)
  }
  update()
  window.addEventListener('scroll', throttle(update))
  btn.addEventListener('click', () => window.scrollTo({ top: 0 }))
</script>
