---
import Github from '@/assets/remix-icons/github-fill.svg'
import Linkedin from '@/assets/remix-icons/linkedin-box-fill.svg'
import RSS from '@/assets/remix-icons/rss-fill.svg'
import Link from '@/components/Link.astro'

const components = {
  github: Github,
  linkedin: Linkedin,
  rss: RSS,
}

interface Props {
  kind: keyof typeof components
  href: string
}

const { kind, href } = Astro.props

const SocialSvg = components[kind]
---

<Link href={href}>
  <span class="sr-only">{kind}</span>
  <SocialSvg class="size-8 fill-current text-gray-700 hover:text-primary-400" />
</Link>
