---
import SimplePageLayout from '@/layouts/SimplePageLayout.astro'
import componentOverrides from '@/libs/ComponentOverrides'
import Content from '@/pages/license/_content.mdx'

export const title = 'License'
---

<SimplePageLayout title={title} tagline="CC BY 4.0 ">
  <article>
    <div class="prose max-w-none pt-10 pb-8">
      <Content components={componentOverrides} />
    </div>
  </article>
</SimplePageLayout>
