---
import '@/css/article-content.css'

import type { CollectionEntry } from 'astro:content'

import PageTitle from '@/components/PageTitle.astro'
import PostDateDisplay from '@/components/PostDateDisplay.astro'
import type { SeoData } from '@/components/SEO.astro'
import RootLayout from '@/layouts/RootLayout.astro'

interface Props {
  post: CollectionEntry<'posts'>
  summary: string
}

const { post, summary } = Astro.props

const seoData: SeoData = {
  type: 'post',
  title: post.data.title,
  description: summary,
  ogImage: `${Astro.request.url}/og.png`,
  article: {
    publishedTime: post.data.createdAt.toISOString(),
    modifiedTime: post.data.updatedAt?.toISOString(),
  },
}
---

<RootLayout seoData={seoData}>
  <Fragment slot="jsonLd">
    <slot name="jsonLd" />
  </Fragment>
  <article>
    <header>
      <div class="space-y-1 border-b border-gray-200 pb-10 text-center">
        <PageTitle title={post.data.title} />
        <PostDateDisplay post={post} />
      </div>
    </header>
    {Astro.slots.has('toc') && <slot name="toc" />}
    <div class="prose max-w-none pt-10 pb-8 xl:pb-4">
      <slot />
    </div>
  </article>
</RootLayout>
