---
import '@/css/global.css'
import '@fontsource/jetbrains-mono/latin-500.css'

import Footer from '@/components/footer/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import ScrollTop from '@/components/ScrollTop.astro'
import type { SeoData } from '@/components/SEO.astro'
import SEO from '@/components/SEO.astro'

interface Props {
  seoData: SeoData
}

const { seoData } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <Head>
    <SEO seoData={seoData} />
    <slot name="jsonLd" />
  </Head>
  <body class="bg-white pl-[calc(100vw-100%)] font-mono text-black antialiased">
    <section class="mx-auto max-w-xl px-6 md:px-1 xl:max-w-4xl">
      <div class="flex h-screen flex-col justify-between">
        <Header />
        <main class="mb-auto">
          <slot />
          <ScrollTop />
        </main>
        <Footer />
      </div>
    </section>
  </body>
</html>
