article {
  .content-header-link-placeholder {
    @apply -ml-5 pr-1 opacity-0;
    transition: opacity 0.15s ease;
  }

  .content-header-link-placeholder:hover,
  .content-header:hover .content-header-link-placeholder {
    @apply opacity-100;
    transition: opacity 0.15s ease;
  }

  .content-header-link-placeholder {
    @apply text-gray-700 hover:text-primary-500;
  }

  .octicon {
    @apply inline overflow-hidden fill-current align-middle text-inherit;
  }

  sup {
    @apply pl-1;
  }

  .task-list-item::before {
    @apply hidden;
  }

  .task-list-item {
    @apply list-none;
  }

  .footnotes {
    @apply mt-12 border-t border-gray-200;

    ol > li:target {
      animation: highlight-footer 3s;

      @keyframes highlight-footer {
        from {
          background: theme('colors.yellow.300');
        }
        to {
          background: transparent;
        }
      }
    }
  }

  .data-footnote-backref {
    @apply no-underline;
  }

  img {
    @apply mx-auto;
  }
}
