---
import type { MarkdownHeading } from 'astro'

import TocEntryList from '@/components/floating-toc/TocEntryList.astro'
import type { TocEntry } from '@/components/floating-toc/types'

interface Props {
  headings: MarkdownHeading[]
}

function generateTocEntries(headings: MarkdownHeading[]): TocEntry[] {
  const topLevel: TocEntry = {
    slug: '',
    text: '',
    depth: 0,
    items: [],
  }
  const insertTo: TocEntry[] = [topLevel]

  for (const heading of headings) {
    const entry: TocEntry = {
      ...heading,
      items: [],
    }

    // find out which entry to push into
    // find the entry that is a depth right above it (currentDepth - 1)
    const targetDepth = entry.depth - 1
    while (insertTo[insertTo.length - 1].depth > targetDepth) {
      insertTo.pop()
    }

    // add self to that entry
    insertTo[insertTo.length - 1].items.push(entry)

    // we are now a candidate to have children
    insertTo.push(entry)
  }

  return insertTo[0].items
}

const { headings } = Astro.props

const entries = generateTocEntries(headings)
---

{
  entries.length > 0 && (
    <div class="sticky top-20 float-right hidden h-0 w-toc-xl px-8 text-xs lg:block xl:w-toc-4xl">
      <div class="pb-2 text-sm">Table of Contents</div>
      <TocEntryList entries={entries} />
    </div>
  )
}

<script>
  import { throttle } from '@/libs/FunctionUtils'

  const links = document.querySelectorAll<HTMLAnchorElement>('[data-toc-slug]')

  if (links.length > 0) {
    const headers = [...links].map((l) => document.getElementById(l.dataset.tocSlug!))
    const firstSlug = links[0].dataset.tocSlug

    const setActive = (slug: string | undefined) => {
      for (const link of links) {
        link.classList.toggle('text-primary-500', link.dataset.tocSlug === slug)
      }
    }

    // Get the initial slug either from the hash (#id) or the firstSlug
    const hash = window.location.hash.slice(1)
    const initialSlug =
      hash && [...links].find((link) => link.dataset.tocSlug === hash) ? hash : firstSlug

    setActive(initialSlug)

    window.addEventListener(
      'scroll',
      throttle(() => {
        let active = ''
        for (const header of headers) {
          if (header && header.getBoundingClientRect().top <= 10) active = header.id
        }
        setActive(active || firstSlug)
      }),
      { passive: true }
    )
  }
</script>
